<doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <title>Repository Details</title>
   </head>
   <body>
      <div class="container">
      <div class="text-center" style="margin:2em 0 2em 0;">
         <h2>Python Repository Details</h2>
      </div>
      <ul class="list-group">
         <li class="list-group-item">
            <div class="row">
               <div class="col-md-2">
                  ID:
               </div>
               <div class="col-md-6">
                  {{repo[0]}}
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-md-2">
                  Name:
               </div>
               <div class="col-md-6">
                  {{repo[1]}}
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-md-2">
                  URL:
               </div>
               <div class="col-md-6">
                  {{repo[2]}}
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-md-2">
                  Creation Date:
               </div>
               <div class="col-md-6">
                  {{repo[3].strftime('%m/%d/%Y %H:%M')}}
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-md-2">
                  Last Push Date:
               </div>
               <div class="col-md-6">
                  {{repo[4].strftime('%m/%d/%Y %H:%M')}}
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-md-2">
                  Description:
               </div>
               <div class="col-md-6">
                  {{repo[5]}}
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-md-2">
                  Number of Stars:
               </div>
               <div class="col-md-6">
                  {{repo[6]}}
               </div>
            </div>
         </li>
      </ul>
   </body>
</html>
