<doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <title>Python GitHub Repositories</title>
   </head>
   <body>
      <div class="container">
         <div class="text-center" style="margin:2em 0 2em 0;">
            <h2>Popular Python Repositories on GitHub!</h2>
         </div>
         <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#list">List View</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-toggle="tab" href="#details">Detailed View</a>
            </li>
         </ul>
         <div class="tab-content">
            <div id="list" class="container tab-pane active">
               <br>
               <table class="table table-bordered table-striped table-sm" style="margin-right: :2em;">
                  <thead class="thead-light">
                     <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Creation Date</th>
                        <th>Last Push Date</th>
                        <th>Description</th>
                        <th>Number of Stars</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for row in data %}
                     <tr>
                        <td><a href="/{{row[0]}}">{{row[0]}}</a></td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td style="white-space: nowrap;">{{row[3].strftime('%m/%d/%Y %H:%M')}}</td>
                        <td style="white-space: nowrap;">{{row[4].strftime('%m/%d/%Y %H:%M')}}</td>
                        <td>{{row[5]}}</td>
                        <td style="white-space: nowrap;">{{row[6]}}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
            <div id="details" class="container tab-pane fade">
               <br>
               {% for row in data %}
               <ul class="list-group">
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-md-2">
                           ID:
                        </div>
                        <div class="col-md-6">
                           <a href="/{{row[0]}}">{{row[0]}}</a>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-md-2">
                           Name:
                        </div>
                        <div class="col-md-6">
                           {{row[1]}}
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-md-2">
                           URL:
                        </div>
                        <div class="col-md-6">
                           {{row[2]}}
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-md-2">
                           Creation Date:
                        </div>
                        <div class="col-md-6">
                           {{row[3].strftime('%m/%d/%Y %H:%M')}}
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-md-2">
                           Last Push Date:
                        </div>
                        <div class="col-md-6">
                           {{row[4].strftime('%m/%d/%Y %H:%M')}}
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-md-2">
                           Description:
                        </div>
                        <div class="col-md-6">
                           {{row[5]}}
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-md-2">
                           Number of Stars:
                        </div>
                        <div class="col-md-6">
                           {{row[6]}}
                        </div>
                     </div>
                  </li>
               </ul>
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>
